body {
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}
.search-bar {
  height: 10vh;
  width: 90%;
  margin-top: 2%;
  box-shadow: 0px 0px 18px 1px #777676;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 6%;
  font-size: large;
  color: #d5dbdb;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.search-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5%;
  border-radius: 5px;
  font-size: 40px;
}
.search-button {
  width: 20%;
  padding: 1%;
  margin: 3%;
  background-color: rgb(0, 185, 40);
  border-color: rgba(2, 248, 56, 1);
  border-radius: 50px;
}
.page-header {
  text-align: center;
  background-position: top;
  background-size: cover;
  border-radius: 0px;
  font-family: "Kufam";
  padding-top: 10rem;
  height: 20%;
}

.page-body {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 7rem 10rem;
  font-size: 1.5rem;
}
.page-body-heading {
  font-size: 3rem;
}
.page-down-link {
  text-shadow: 0px -5px 14px #000000;
  margin-top: 2%;
  font-size: 2.5rem;
  color: rgb(253, 198, 87);
}

.box-shadow {
  box-shadow: 0px 0px 26px 1px #4e4d4d;
}

.intro-card {
  height: 100%;
  font-size: 30px;
  padding: 5%;
  background-size: cover;
  background-position: top;
}
.card-regular {
  border-width: 0px;
  /* box-shadow: 0px 0px 20px 1px #9e9d9d; */
}
.card-shadow {
  border-width: 0px;
  /* box-shadow: 0px 0px 20px 1px #9e9d9d; */
  transition-duration: 0.5;
}

.card-shadow:hover {
  box-shadow: 0px 0px 10px 1px #9e9d9d;
  margin: 0.25%;
}

.categories {
  font-family: "Pacifico", cursive;
  margin: 2%;
  padding: 14%;
  color: white;
  text-shadow: 6px 6px 26px #000000;
  font-size: 1.2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  transition-duration: 0.2s;
  display: absolute;
  box-shadow: 0px 0px 6px #555555;
}

.categories:hover {
  margin: 0;
  padding: 15%;
  font-size: 1.2rem;
  box-shadow: 0px 0px 22px #555555;
}

.categories-body {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2.5px;
}
.card-title-style {
  position: absolute;
  top: 0;
  font-size: 2rem;
  padding: 5%;
  text-shadow: 4px 4px 26px #000000;
  color: white;
  font-family: "Pacifico", cursive;
}

.card-body-style {
  padding: 1%;
}
.card-user-responses {
  padding: 12px 15px;
  background-color: rgba(255, 201, 92, 0.6);
  color: rgb(57, 153, 78);
  border-radius: 10px;

  font-size: 16px;

  /* bottom: 45%; */
}

.card-links {
  border-radius: 10px;
  background-color: rgba(2, 248, 56, 0.616);
  padding: 5px;
}

li {
  margin: 5px;
  font-size: 14px;
  color: rgb(97, 97, 97);
}
h3 {
  font-family: "Pacifico", cursive;
}
h1,
h4 {
  margin-left: 5%;
}

.footer {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #d5dbdb;
}

.signin-form {
  padding-top: 15%;
  padding-bottom: 12%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -6%;
}

.signup-form {
  padding-top: 15%;
  padding-bottom: 3%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -6%;
}

@media only screen and (max-width: 600px) {
  .search-container {
    padding: 10%;
    font-size: 35px;
    margin-top: 20%;
    margin-bottom: 5%;
  }
  .page-header {
    padding-top: 30%;
  }
  .page-body {
    font-size: 20px;
    padding: 6rem 1rem;
  }
  .page-body-heading {
    font-size: 2rem;
  }
  .page-down-link {
    padding-top: 5%;
  }
  .search-bar {
    height: 10vh;
    width: 100%;
    margin-top: 6%;
    font-size: large;
  }
  .search-button {
    width: 60%;
    padding: 5%;
  }

  .signin-form {
    padding-top: 60%;
    padding-bottom: 20%;
    margin-top: -26%;
  }

  .signup-form {
    padding-top: 50%;
    padding-bottom: 5%;
    margin-top: -26%;
  }
  .intro-card {
    display: none;
  }
  .card-shadow {
    margin-top: 8%;
  }
  .card-regular {
    margin-top: 8%;
  }

  .page-header-hide {
    display: none;
  }
}
